.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.header__left {
    margin-left: 20px;
}

.header__logo {
    height: 22px;
    object-fit: contain;
    margin-left: 20px;
}

.header__input {
    display: flex;
    align-items: center;
    width: 35%;
    height: 42px;
    border: 1px solid lightgray;
}

.header__inputButton {
    display: flex;
    width: 50px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: gray;
}

.header__input > input {
    flex: 1;
    border: none;
}

.header__input > a {
    display: flex;
}

.header__input > input:focus {
    outline:0 !important
}

.header__icons {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.header__icon {
    margin-right: 8px;
}
